
@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Consultar Agendamentos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Paciete</th>
                        <th>Nascimento</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Paciete</th>
                        <th>Nascimento</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>15/10/1995</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts
{
    <script type="text/javascript" src="~/js/consulta.js"></script>
}