@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Consultar Agendamentos
    </div>
    <div class="card-body">

        <div ng-app="agendamentoAgendaApp">
            <div class="table-responsive">
                <table ng-controller="exibirConsulta" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Paciete</th>
                            <th>Data/Hora Inicial</th>
                            <th>Data/Hora FInal</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Paciete</th>
                            <th>Data/Hora Inicial</th>
                            <th>Data/Hora FInal</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="consulta in consultas">
                            <td>{{consulta.Paciente[0].Nome}}</td>
                            <td>{{consulta.DataHoraInicialConsulta}}</td>
                            <td>{{consulta.DataHoraFinalConsulta}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts
{
<script type="text/javascript" src="~/js/consulta.js"></script>
}